
.test {
  display: flex;
  justify-content: center;  /* 水平方向の中央揃え */
  align-items: center;
}



.margine1{
  margin-bottom: 15px;
}

.move{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}


h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


